:root{
    --side-bar-nav-color: #09091d;
    --side-bar-nav-color-font-and-icon: #FFFFFF;
    --folder-icon-color: #737373;
    --side-bar-nav-storage-bar-color: #737373;
    --main-font: monospace;
    --main-font-color: #000000   
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

main {
    font-family: monospace;
}

.side-bar-nav{
    background-color: var(--side-bar-nav-color);
    color: var(--side-bar-nav-color-font-and-icon);
    font-family: var(--main-font);
    padding: 0px 20px;
    height: 100vh;
    width: 275px;
    position: fixed;
    top: 0;
    left: 0;
}

.side-bar-nav .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: var(--side-bar-nav-color-font-and-icon);
}

.side-bar-nav .option-side-bar {
    display: flex;
    align-items: center;
    gap:15px;
    text-decoration: none;
    color: var(--side-bar-nav-color-font-and-icon);
}

.storage-title-svg {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.storage-box{
    width: 100%;
}

.storage-bar-box{
    width: 100%;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.storage-bar{
    height: 7px;
    background-color: gray;
}

.main-section{
    margin-left: 275px;
}

.header-box{
    display: flex;
    justify-content: end;
    padding: 10px;
    border-bottom: solid 2px #737373;
}

.header-box svg{
    cursor: pointer;
}

.file_box{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 50px;
    border: solid 1px #000000;
    border-radius: 5px;
}

.upload_file{
    position: absolute;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 40px;
    font-weight: 1000;
    color: #FFFFFF;
    border-radius: 5px;
    left: 5px;
    text-align: center;
    border: none;
    cursor: pointer;
}

.input_box_title{
    width: 100%;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
    font-weight: 1000;
}
.file-input-description-container, .dir-input-description-container{
    width: 40%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.dir-input-description-container input {
    text-align: center;
}

#file-upload{
    display: none;
}

.drag-n-drop-box{
    padding: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.transparent_yellow_bg{
    background-color: #ffbd59;
}

.transparent_blue_bg{
    background-color: #5A7FD2;
}

.media-container{
    padding-left: 30px;
    font-family: monospace;
}

.dir-option{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 250px;
    padding: 5px;
    border: solid 1px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.dir-option svg {
    width: 30px;
    height: 30px;
    fill: #737373;
    color: #737373;
}

.media-files{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}